/*
 * This style sheet is based heavily on one from User Agent Man's blog.
 * http://www.useragentman.com/blog/2010/10/29/cross-browser-html5-ruby-annotations-using-css/
 *
 */

ruby {
	display: inline-table;
	text-align: center;
	border-collapse: collapse;
	border: none;
	vertical-align: middle;
	border-bottom: solid 1.3em transparent;
}

ruby > rt, rtc {
	display: table-header-group;
	color: green;
}

ruby > rb, rbc, ruby > rt + rt, rtc + rtc {
	display: table-row;
}

ruby > rt + rt, rtc + rtc {
	border-bottom: hidden;
}

rb, rbc, body rt, rtc {
	white-space: nowrap;
}

rtc > rt, rbc > rb {
	display: table-cell;
}

rtc > rt[rbspan] {
	column-span: attr(rbspan);
}

ruby > rt, rtc {
	font-size: 1.0em;
	line-height: 1.2em;
}

rp {
	display: none;
}

ruby {
	ruby-align: center;
}